{% extends 'main/base.html' %}
{%load static %}
<!DOCTYPE html>
<html lang="en">
    <body>
        {% block pagecontent %}
        <section class="page-section about-heading">
            <div class="container">
                <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'img/about.jpg' %}" alt="..." />
                <div class="about-heading-content">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">
                            <div class="bg-faded rounded p-5">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-upper">Your hair is your crowning glory,</span>
                                    <span class="section-heading-lower">Transform it!</span>
                                </h2>
                                <p>The current market is packed with harsh chemical-laden hair products that not only damages hair, but also stunts its growth. Existing natural hair care lines are also unaffordable and unaccessible. We at Phoenix Organics are developing products that are affordable, available and kind to both your hair and the environment. PRODUCTS TAILORED TO NURTURE YOUR NATURAL ESSENSE. Our line is made with essential oils, plant extracts, and other high-quality, nourishing ingredients that work to grow and protect your hair. </p>
                                <p class="mb-0">
                                    We guarantee that you will fall in
                                    <em>lust</em>
                                    with our high quality products the moment you use them!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        {% endblock %}    
    </body>
</html>
