{% extends 'main/base.html' %}
{%load static %}
<!DOCTYPE html>
<html lang="en">
    <body>
        {% block pagecontent %}
        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 mx-auto">
                        <div class="cta-inner bg-faded text-center rounded">
                            <h2 class="section-heading mb-5">
                                <span class="section-heading-upper">Feel free to drop us a line below!</span>
                                <span class="section-heading-lower">Contact Us</span>
                            </h2>
                            <form method = 'post' class="row g-3" action="{% url 'contactus' %}">
                                                                    
                                        {% csrf_token %}
                                                                    
                                      
                                        <div class="col-md-4">
                                            <p class="text-start"> Name: </p>

                                        </div>
                                        <div class="col-md-3">
                                            <input required type="text" class="form-control" id="fname" name="fname" autocomplete="given-name">
                                            <label for="fname" class="form-label">First name</label>
                                        </div>

                                            <div class="col-md-3">
                                                <input required type="text" class="form-control" id="lname" name="lname" autocomplete="family-name">
                                                <label for="lname" class="form-label">Last name</label>
                                            </div>

                                            <div class="col-md-4">
                                                <p class="text-start"> Phone number: </p>

                                            </div>
                                            <div class="col-md-6">
                                             
                                                <input required type="text" class="form-control" name="phonenumber" id="phonenumber" autocomplete="tel">
                                            </div>

                                            <div class="col-md-4">
                                                <p class="text-start"> Email address: </p>

                                            </div>
                                            <div class="col-md-6">                                            
                                                <input required type="email" class="form-control" id="email" name="email" autocomplete="email">
                                            </div>


                                           <p class="text-start"> My concern/s is/ are: </p>
                                            <div class="col-12">
                                                <ul class="list-unstyled">
                                                <li class="d-block w-25 float-start"><input type="checkbox" class="option-input" id="damaged" value="damaged" name="complaints">
                                                <label for="damaged" class="form-check-label">Damaged product </label></li>
                                               
                                                <li class="d-block w-25 float-start"><input type="checkbox" class="option-input" id="delay" value="delay" name="complaints">
                                                <label for="delay" class="form-check-label">Delayed delivery </label> </li>
                                              
                                               <li class="d-block w-25 float-start"><input type="checkbox" class="option-input" id="no_delivery" value="no_delivery" name="complaints">
                                                <label for="no_delivery" class="form-check-label">No delivery </label> </li>
                                               
                                               <li class="d-block w-25 float-start"><input type="checkbox" class="option-input" id="missing" value="missing" name="complaints">
                                                <label for="missing" class="form-check-label">Missing product </label> </li>
                                                
                                                <li class="d-block w-25 float-start"><input type="checkbox" class="option-input" id="canceled" value="canceled" name="complaints">
                                                <label for="canceled" class="form-check-label">Canceled order </label> </li>
                                                
                                               <li class="d-block w-25 float-start"><input type="checkbox" class="option-input" id="payment" value="payment" name="complaints">
                                                <label for="payment" class="form-check-label">Trouble paying </label> </li>
                                                
                                                <li class="d-block w-25 float-start"><input type="checkbox" class="option-input" id="experience" value="experience" name="complaints">
                                                <label for="experience" class="form-check-label">Poor experience </label> </li>

                                                <li class="d-block w-25 float-start"><input type="checkbox" class="option-input" id="other" value="other" name="complaints">
                                                <label for="other" class="form-check-label">Other </label> </li>
                                                </ul>
                                            </div>


                                                <label for="other" class="form-label text-start">Please elaborate further: </label>
                                                <textarea id="other" name="other" rows="10" cols="30" autocorrect="On"></textarea>                                              
                                                                                         
                                                                
                                
                                            <div class="col-12 text-center mb-5">
                                            <input type="submit" class="btn btn-outline-primary btn-lg1" value="submit">
                                            </div>
                                        
                                    
                                
                            </form>    
                                
                            <p class="address mb-5">
                                <em>
                                    <strong>customersupport@phoenixorganics.co.ke</strong>
                                    <br />
                                    Westlands, Nairobi
                                </em>
                            </p>
                            <p class="mb-0">
                                <small><em>Call Anytime</em></small>
                                <br />
                                +254 742242467
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% endblock %} 
    </body>
</html>
