{% extends 'main/base.html' %}
{%load static %}
<!DOCTYPE html>
<html lang="en">
    <body>
        {% block pagecontent %}
        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="cta-inner bg-faded text-center rounded">
                            <h2 class="section-heading mb-5">
                                <span class="section-heading-upper">Feel free to drop us a line below!</span>
                                <span class="section-heading-lower">Contact Us</span>
                            </h2>
                            <form class="form-unstyled form-hours mb-5 text-left mx-auto" action="#" method = 'post'>
                                <div class = "form-unstyled-item form-hours-item d-flex">
                                    <table>
                                          {{form.as_table}}
                                    </table>

                                </div>

                                  <div class="intro-button mx-auto btn btn-primary btn-xl">                            
                                    <button type="submit" name = 'save' > submit </button> </div>
                                
                            </form>    
                                
                            <p class="address mb-5">
                                <em>
                                    <strong>customersupport@phoenixorganics.co.ke</strong>
                                    <br />
                                    Golden Valley, Minnesota
                                </em>
                            </p>
                            <p class="mb-0">
                                <small><em>Call Anytime</em></small>
                                <br />
                                +254 742
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% endblock %} 
    </body>
</html>
