{% extends 'main/base.html' %}
{%load static %}
<!DOCTYPE html>
<html lang="en">
    <body>
        {% block pagecontent %}
        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="cta-inner bg-faded text-center rounded">
                            <h2 class="section-heading mb-5">
                                <span class="section-heading-upper">Feel free to drop us a line below!</span>
                                <span class="section-heading-lower">Contact Us</span>
                            </h2>
                            <form class="form-unstyled form-hours mb-5 text-left mx-auto" action="#">
                                <div class = "form-unstyled-item form-hours-item d-flex">
                                    <label for = "fullname" > Full Name </label>
                                <span class = "ms-auto">
                                <input type = "text" id="fullname" name = "fullname" pattern="John Doe" size = "26" required > </span>
                                </div>
                                <!-- look into the right way to specify pattern-->
                                <div class = "form-unstyled-item form-hours-item d-flex">
                                    <label for = "email" > Email </label>
                                <span class = "ms-auto">
                                <input type = "email" id="email" name = "emailaddress" pattern="joedoe@gmail.com" size = "26" required > </span>
                                </div>

                                <div class = "form-unstyled-item form-hours-item d-flex">
                                    <label for = "pnumber" > Phone Number </label>
                                <span class = "ms-auto">
                            <input type = "tel" id="phone" name = "phonenumber" pattern = "['07', '254'{2, 3} [0-9]{8}]" size = "26" required > </span>
                                </div>

                                
                                <p> My main issue is with: 
                                <div class = "form-unstyled-item form-hours-item d-flex dpx">
                                <span class = "ms-auto">
                                    <label>
                                <input type="checkbox" class="option-input checkbox" checked />
                                  A product I purchased 
                                  </label> 
                                  
                                <!--<div class = "form-unstyled-item form-hours-item d-flex dpx"> -->
                                  <label>
                                    <input type="checkbox" class="option-input checkbox" />
                                    Payment issues 
                                  </label> 

                                  <label>
                                    <input type="checkbox" class="option-input checkbox" />
                                    Delayed delivery 
                                  </label> 

                                  <label>
                                    <input type="checkbox" class="option-input checkbox" />
                                    No delivery
                                  </label> 

                                  <label>
                                    <input type="checkbox" class="option-input checkbox" />
                                    Missing ordered product
                                  </label> 


                                  <label>
                                <!-- <span class = "ms-auto"> -->
                                    <input type="checkbox" class="option-input checkbox" />
                                    Other
                                  </label> </span>
                                </div> 

                                <!--

                                
                                <div class='py'>
                                  <label>
                                    <input type="radio" class="option-input radio" name="example" checked />
                                    Radio option
                                  </label>
                                  <label>
                                    <input type="radio" class="option-input radio" name="example" />
                                    Radio option
                                  </label>
                                  <label>
                                    <input type="radio" class="option-input radio" name="example" />
                                    Radio option
                                  </label> -->



                                <div class = "form-unstyled-item form-hours-item d-flex">
                                    <label for = "message" > Further explanation </label>
                                <span class = "ms-auto form-textarea">
                                <textarea id="message" name = "message" cols = "27" size = "26"> </textarea> </span>
                                </div> 
                                
                                <div class="intro-button mx-auto btn btn-primary btn-xl">                            
                                    <button type="submit" > submit </button> </div>
                                
                                <!-- look through formaction, formenctype-->
                            </form>    
                                
                            <p class="address mb-5">
                                <em>
                                    <strong>customersupport@phoenixorganics.co.ke</strong>
                                    <br />
                                    Golden Valley, Minnesota
                                </em>
                            </p>
                            <p class="mb-0">
                                <small><em>Call Anytime</em></small>
                                <br />
                                +254 742
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% endblock %} 
    </body>
</html>
