{% extends 'main/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    
    <body>
        {% block pagecontent %}
        <section class="page-section clearfix">
            <div class="container">
                <div class="intro">
                    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'img/image1.jpg' %}" alt="..." />
                    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Impeccable Beauty</span>
                            <span class="section-heading-lower">Nurture your natural essence</span>
                        </h2>
                        <p class="mb-3">Phoenix organics products guarantees transformation of damaged hair to radiance. We are determined to preserve and enhance your natural beauty and health. We believe that what you put on your hair is just as important as what you put in your body and are committed to using only the finest, natural ingredients in our products.</p>
                        <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="{% url "products" %}">Shop!</a></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="cta-inner bg-faded text-center rounded">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">Our Promise</span>
                                <span class="section-heading-lower">To You</span>
                            </h2>
                            <ul class="mb-0"> <li>Quality: We are committed to producing high-quality hair care products that meet the needs of our customers. </li>
                                <li>Sustainability: We are committed to using natural ingredients and minimizing our environmental impact.</li>
                                <li>Diversity: We embrace and celebrate diversity in all forms, including hair type and texture.</li>
                                <li>Education: We are dedicated to educating our customers on the importance of natural hair care and empowering them to make informed choices about their hair.</li>
                                <li>Customer Service: We are committed to providing excellent customer service and ensuring that our customers have a positive experience with our products.</li>
                                <li>Affordability: We are committed to offer high quality affordable products.</li>
                            </ul> <br>
                                <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="{% url "aboutus" %}">About us!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="page-section about-heading">
            <div class="container"> 
                <div class="about-heading-content">
                    <div class="row">

                        <div class="col-xl-3 col-lg-3 my-4">
                            <div class="bg-faded rounded p-5">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-upper">Seasonal sale</span>
                                </h2>
                                <p>Get a FREE TUMERIC FACE and BODY soap for every purchase above 1,500 shillings in the next 3 months.</p>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-3 my-4">
                            <div class="bg-faded rounded p-5">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-upper">Free Shipping</span>
                                </h2>
                                <p>Free delivery for orders within Nairobi and Kiambu county for the next 3 months</p>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-3 my-4">
                            <div class="bg-faded rounded p-5">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-upper">Money Back Guarantee</span>
                                </h2>
                                <p>Quality is our top priority. We take great care to ensure that all our products are made with the highest quality materials and craftsmanship. We stand behind the quality of our products and offer a money-back guarantee if you are not completely satisfied.</p>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-3 my-4">
                            <div class="bg-faded rounded p-5">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-upper">Affordability</span>
                                </h2>
                                <p>Experience quality without breaking the bank with our affordable products. We believe everyone should have access to top-notch products without sacrificing their funds.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section class="page-section cta">
            <div class="container">
                    <div class = row>
                        <div class="product-item">
                            <div class="product-item-title d-flex">
                                <div class="bg-faded p-5 d-flex me-auto rounded">
                                    <h2 class="section-heading mb-0">
                                        <span class="section-heading-upper">OUR AMAZING OFFER</span>
                                        <span class="section-heading-lower">GET A FREE TUMERIC SOAP</span>
                                    </h2>
                                </div>
                            </div>
                            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'img/products-02.jpg' %}" alt="..." />
                            <div class="product-item-description d-flex ms-auto">
                                <div class="bg-faded p-5 rounded"><p class="mb-0">Our turmeric soap is a natural, aromatic cleansing bar that is enriched with powerful anti-inflammatory and antioxidant properties, which help calm and soothe irritated skin while protecting it from free radical damage. It helps reduce acne, dark circles and hyperpigmentation. It also contains natural oils and moisturizing agents that hydrate the skin, leaving it soft, smooth, and glowing.</p></div>
                            </div>
                        </div>
                    </div>                
            </div>        
        </section>
        
        <section class="page-section about-heading">
            <div class="container">
                                
                    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-pause="hover">

                        <ol class="carousel-indicators">
                            <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
                            <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
                            <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
                            <li data-bs-target="#myCarousel" data-bs-slide-to="3"></li>
                            <li data-bs-target="#myCarousel" data-bs-slide-to="4"></li>
                    
                        </ol>



                        <div class="carousel-inner">
                            <div class="product-item1 carousel-item active">
                                <img class=" product-item-img1 mx-auto d-flex rounded img-fluid mb-3 mb-lg-0 d-block" src="{% static 'img/allPendants.webp' %}" alt="..." />
                            </div>

                            <div class="product-item1 carousel-item">
                                <img class="product-item-img1 mx-auto d-flex rounded img-fluid mb-3 mb-lg-0 d-block" src="{% static 'img/anklet.jpg' %}" alt="..." />
                            </div>

                            <div class="product-item1 carousel-item">
                                <img class="product-item-img1 mx-auto d-flex rounded img-fluid mb-3 mb-lg-0 d-block" src="{% static 'img/bg.jpg' %}" alt="..." />
                            </div>

                            <div class="product-item1 carousel-item">
                                <img class="product-item-img1 mx-auto d-flex rounded img-fluid mb-3 mb-lg-0 d-block" src="{% static 'img/cosmeticBag3.jpg' %}" alt="..." />
                            </div>

                            <div class="product-item1 carousel-item">
                                <img class="product-item-img1 mx-auto d-flex rounded img-fluid mb-3 mb-lg-0 d-block" src="{% static 'img/cosmeticBag3.jpg' %}" alt="..." />
                            </div>

                            

                        </div>

                        <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>

                    </div>
                
                    <div class="about-heading-content">
                      <div class="row">
                          <div class="col-xl-9 col-lg-10 mx-auto">
                              <div class="bg-faded rounded p-5">
                                  <h2 class="section-heading mb-4">
                                      <span class="section-heading-upper">Your hair is your crowning glory,</span>
                                      <span class="section-heading-lower">Transform it!</span>
                                  </h2>
                                  <p>The current market is packed with harsh chemical-laden hair products that not only damages hair, but also stunts its growth. Existing natural hair care lines are also unaffordable and unaccessible. We at Phoenix Organics are developing products that are affordable, available and kind to both your hair and the environment. PRODUCTS TAILORED TO NURTURE YOUR NATURAL ESSENSE. Our line is made with essential oils, plant extracts, and other high-quality, nourishing ingredients that work to grow and protect your hair. </p>
                                  <p class="mb-0">
                                      We guarantee that you will fall in
                                      <em>lust</em>
                                      with our high quality products the moment you use them!</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  
                
            </div>
                           
                        
        </section>


       {% endblock %}

    </body>
</html>

        