{% extends 'main/base.html' %}
{%load static %}
<!DOCTYPE html>
<html lang="en">
    <body>
        {% block pagecontent %}

        <section class="page-section cta">
            <div class="container"> 
                <div class = "cta-inner">
                    
                    <div class="col-lg-8 col-xl-8 mx-auto mb-2">
                        <i class="fas fa-arrow-left"></i>
                        <span><a href = '/products' class="text-uppercase pe-4"> Continue shopping </a></span>
                    </div>

                    
                    <div class="row col-lg-8 col-xl-8 bg-faded mx-auto">
                        <h2 class="section-heading mt-4 text-center">
                            <span class="section-heading-upper">Your Cart! {{order.get_cart_items}} items</span>
                        </h2>
                    
                        {% for item in items %}
                        <div class="col-xl-6 col-lg-6 mt-4">
                            <div class="rounded product-item2">
                               <img class="product-item-img2 img-fluid d-flex" src="{{item.product.product_imagesURL}}" alt="..." />
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 mt-5">
                            <div class="rounded">
                                <h2 class="section-heading mb-4">
                                   <span class="section-heading-upper">{{item.product.product_name}}</span>
                                </h2>
                                
                                <table>
                                    <tr>
                                
                                        <td> <p class = "fw-bold"> Price: {{item.product.product_price|floatformat:2}}</p> </td>   
                                    </tr>
                                    <tr>                                                                            
                                       <td>
                                            <ul class="list-unstyled">
                                            <li class="list-unstyled-item d-flex fw-bold pe-5">
                                            <div class="mt-2">  Quantity: {{item.quantity}} </div>
                                                <span> <div class="border-0 ms-4">
                                                    <div data-product="{{item.product.product_id}}" data-action="add" class = "update-cart" style="cursor: pointer;"><i class="fas fa-caret-up fa-lg" style="color: #000000;"></i> </div>
                                                        <div data-product="{{item.product.product_id}}" data-action="remove" class = "pt-0 update-cart" style="cursor: pointer;"> <i class="fas fa-caret-down fa-lg" style="color: #000000;"></i> </div>
                                                        </div>   
                                                </span> 
                                            </li>  
                                            </ul>  
                                        </td>
                                        <td> <p class = "fw-bold"> Total: {{item.get_total|floatformat:2}}</p></td> 
                                    </tr>
                                </table> 
                                <div class = "text-center mb-2"> 
                                    <button data-product={{item.product.product_id}} data-action ="remove_product" class ="btn btn-primary update-cart">Remove product</button>                                                                    
                                </div>
                            </div>                       
                  
                        </div>
                        <hr>
                         
                        {% endfor%}
                       
                        <div class="row col-xl-12 col-lg-12">
                                <div class="rounded">
                                    <ul class="list-unstyled my-4 text-start mx-auto">
                                        <li class="list-unstyled-item d-flex mb-3 fw-bold">
                                            SUBTOTAL
                                            <span class="ms-auto">{{order.get_cart_total|floatformat:2}}</span>
                                        </li>

                                       <!-- <form>
                                        <li class="list-unstyled-item d-flex mb-3">
                                            <input type="checkbox" id="discountCode" checked>
                                            <label for="discountCode" class="form-label">I have a DISCOUNT code</label>                                            
                                        </li>

                                        <li class="list-unstyled-item d-flex mb-3 fw-bold">
                                           <input type="text" name="promo" id="promo" placeholder="Enter your promo code here" checked class="form-control"> 
                                            <span class = "ms-auto"><input class="btn btn-primary ms-5" type="submit" value="Apply"></span> 
                                        </li>
                                        </form> -->

                                    </ul>

                                
                                    
                                   <div class ="text-center">
                                    <a class="btn btn-outline-primary btn-lg1 mb-4" aria-pressed="true" href="/checkout">
                                        <i class="fas fa-lock"></i>
                                        <span>Go to Checkout</span>
                                    </a>   
                                    </div>
                                                                
                                                                        
                                </div>
                            </div>                    

                            <div class = "text-center mb-4">
                                <p class="address mb-5">
                                    <em>
                                        <strong>customersupport@phoenixorganics.co.ke</strong>
                                        <br />
                                        Westlands, Nairobi
                                    </em>
                                </p>
                                <p class="mb-0">
                                    <small><em>Call Anytime</em></small>
                                    <br />
                                    +254 742242467
                                </p> 
                                </div>

                                
                    </div>

                </div>  
                
             </section>

                          
        {% endblock %}
    </body>
</html>