{% extends 'main/base.html' %}
{%load static %}
<!DOCTYPE html>
<html lang="en">
    <body>
        {% block pagecontent %}
        <section class="page-section cta">
            <div class="container"> 
                <div class = "cta-inner">
                
                    <div class="row">
                        <h2 class="section-heading mb-5 text-center">
                            <span class="section-heading-upper">Come On In</span>
                            <span class="section-heading-lower">Checkout</span>
                        </h2>

                    
                        <div class="col-lg-6 col-xl-6" id = "shipping-info">
                            <div class ="bg-faded rounded p-4">  
                                <form class="row" id = "form-g-3">
                                    {% csrf_token %}
                                    <div class="col-md-6">
                                    <label for="fname" class="form-label">First name</label>
                                    <input required type="text" class="form-control" id="fname" autocomplete="given-name">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="lname" class="form-label">Last name</label>
                                        <input required type="text" class="form-control" id="lname" autocomplete="family-name">
                                        </div>
                                    <div class="col-md-6">
                                    <label for="phonenumber" class="form-label">Phone Number</label>
                                    <input required type="text" class="form-control" id="phonenumber" autocomplete="tel">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="email" class="form-label">Email address</label>
                                        <input required type="email" class="form-control" id="email" autocomplete="email">
                                    </div>
                                    <div class="col-12">
                                    <label for="inputAddress" class="form-label">Address</label>
                                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" autocomplete="address-line1">
                                    </div>
                                    <div class="col-12">
                                    <label for="inputAddress2" class="form-label">Address 2</label>
                                    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" autocomplete="address-line2">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="inputCountry" class="form-label">Country</label>
                                        <input type="text" class="form-control" id="inputCountry"  autocomplete="country-name">
                                    </div>

                                    <div class="col-md-4">
                                    <label for="inputcity" class="form-label">City/County</label>
                                    <select id="inputcity" class="form-select"  autocomplete="off">
                                        <option selected>Choose...</option>
                                        <option>...</option>
                                    </select>
                                    </div>
                                    <div class="col-md-2">
                                    <label for="inputZip" class="form-label">Zip</label>
                                    <input type="text" class="form-control" id="inputZip"  autocomplete="postal-code">
                                    </div>
                                    <div class="col-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck">
                                        <label class="form-check-label" for="gridCheck">
                                        Receive notifications
                                        </label>
                                    </div>
                                    </div>
                                    <div class="col-12 text-center">
                                    <input id ="form-button" type="submit" class="btn btn-outline-primary btn-lg1" value="Continue">
                                    </div>
                                </form>
                            
                            </div>

                            <div class ="col-lg-12 col-xl-12 invisible d-none" id = "payment-info">
                                <div class = "bg-faded row rounded">
                                    <h2 class="section-heading my-3 text-center">
                                        <span class="section-heading-upper">Payment Information</span>
                                    </h2>
    
    
    
                                </div>                               
                            </div>


                        </div>

                        <div class="col-lg-6 col-xl-6 my-4">
                            <div class ="bg-faded rounded p-4">
                                <a href="{% url "cart" %}" class="btn btn-outline-primary">Go back to cart</a>
                                
                                <h2 class="section-heading my-3 text-center">
                                    <span class="section-heading-upper">Order Summary</span>
                                </h2>
                                {% for item in items %}
                                <div class = "d-sm-inline-block d-flex">
                                <div class="list-inline ms-0">
                                
                                    <img class="img-fluid rounded list-inline-item w-25 pb-2 pe-4" src="{{item.product.product_imagesURL}}">
                                
                                    <p class="list-inline-item pe-2">name too long</p>
                                    <p class="list-inline-item pe-2">{{item.product.product_price|floatformat:2}}</p>
                                    <p class="list-inline-item">x{{item.quantity}}</p>
                                </div>
                            </div>
                                <hr>
                            {% endfor%}
                            <ul class="list-unstyled my-4 text-start mx-auto">
                                <li class="list-unstyled-item d-flex mb-3 fw-bold">
                                    SUBTOTAL
                                    <span class="ms-auto">{{order.get_cart_total|floatformat:2}}</span>
                                </li>

                                <li class="list-unstyled-item d-flex mb-3">
                                    Delivery (Standard - 2 working days): <br> <a href = "#">Change delivery method-this is a link to profile page </a>
                                    <span class="ms-auto">{{shippingAddress.delivery_cost}}</span>
                                </li>

                                <li class="list-unstyled-item d-flex mb-3 fw-bold">
                                    Promo code:
                                    <span class="ms-auto">{gyyfghfg}</span>
                                </li>

                                <li class="list-unstyled-item d-flex mb-3 fw-bold">
                                    TOTAL (subtotal + delivery + promo):
                                    <span class="ms-auto"> {{shippingAddress.get_full_total}}</span> 
                                </li>
                            
                            </ul>

                            </div>                    

                            
                                                
                                
                            
                        </div> 

                        
                        
                    
                    </div>

                </div>
            </div>
            
        </section>

        <script type="text/javascript">
            var shipping = '{{order.shipping}}'

            if(shipping == 'False'){
                document.getElementById('shipping-info').innerHTML=''
            }

            document.addEventListener('DOMContentLoaded', function() {
                var form = document.getElementById('form-g-3')
                form.addEventListener('submit', function(e){
                    e.preventDefault()
                    console.log('Form Submitted...')
                    document.getElementById('form-button').classList.add('hidden');
                    document.getElementById('payment-info').classList.remove('hidden');
                })
        })

            
        </script> 
        
        {% endblock %}
    </body>
</html>