{% extends 'main/base.html' %}
{%load static %}
<!DOCTYPE html>
<html lang="en">
    <body>
        {% block pagecontent %}
        <section class="page-section cta">
            <div class="container"> 
                <div class = "cta-inner">
                
                    <div class="row">
                        <h2 class="section-heading mb-5 text-center">
                            <span class="section-heading-upper">Come On In</span>
                            <span class="section-heading-lower">Checkout</span>
                        </h2>

                    
                        <div class="col-lg-6 col-xl-6">
                            <div class ="bg-faded rounded p-4 mt-4" id="wrapper">  
                                <form id = "form" method='POST' action="/process_order/">
                                    {% csrf_token %}
                                  
                                    <div id = "user-info" class="row g-3">
                                        <div class="col-md-6">
                                            <label for="fname" class="form-label">First name</label>
                                            <input required type="text" class="form-control" id="fname" name="fname" autocomplete="given-name">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="lname" class="form-label">Last name</label>
                                            <input required type="text" class="form-control" id="lname" name="lname" autocomplete="family-name">
                                        </div>
                                    
                                        <div class="col-md-6">
                                            <label for="email" class="form-label">Email address</label>
                                            <input required type="email" class="form-control" id="email" name="email" autocomplete="email">
                                        </div>

                                        <div class="col-md-6">
                                            <label for="phonenumber" class="form-label">Phone Number</label>
                                            <input required type="text" class="form-control" id="phonenumber" name="phonenumber" autocomplete="tel">
                                         </div>
                                        <div class="col-12 text-center">
                                            <input type="submit"  id ="form-button" class="btn btn-outline-primary btn-lg1" value="Continue">
                                        </div>
                                    </div>

                                    <div id="shipping-info" class="g-3 row">
                                        
                                        <div class="col-12">
                                            <label for="address" class="form-label">Address</label>
                                            <input type="text" class="form-control" id="address" name="address" placeholder="Street name..." autocomplete="address-line1">
                                        </div>
                                        <div class="col-12">
                                            <label for="address2" class="form-label">Address 2</label>
                                            <input type="text" class="form-control" id="address2" name="address2" placeholder="Apartment, studio, or floor" autocomplete="address-line2">
                                        </div>
                                        <div class="col-md-4">
                                            <label for="country" class="form-label">Country</label>
                                            <input type="text" class="form-control" id="country" name="country" autocomplete="country-name">
                                        </div>

                                        <div class="col-md-4">
                                            <label for="city" class="form-label">County</label>
                                            <select id="city" class="form-select" value="city"  id="city" name="city" autocomplete="off">
                                                <option  id="Nairobi" name="Nairobi" selected>Nairobi</option>
                                                <option id="Kiambu" name="Kiambu">Kiambu</option>
                                                <option id="Nakuru" name="Nakuru">Nakuru</option>
                                                <option id="Naivasha" name="Naivasha">Naivasha</option>
                                                <option id="Meru" name="Meru">Meru</option>
                                                <option id="Embu" name="Embu">Embu</option>
                                                <option id="Kirinyaga" name="Kirinyaga">Kirinyaga</option>
                                                <option id="Mombasa" name="Mombasa">Mombasa</option>
                                            </select>
                                            
                                            </div>

                                        <div class="col-md-2">
                                            <label for="zipcode" class="form-label">Zip</label>
                                            <input type="text" class="form-control" id="zipcode" name="zipcode"  autocomplete="postal-code">
                                        </div>
                                        <div class="col-12">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="gridCheck">
                                                <label class="form-check-label" for="gridCheck">
                                                Receive notifications
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-12 text-center">
                                            <input type="submit"  id ="form-button" class="btn btn-outline-primary btn-lg1" value="Continue">
                                        </div>

                                    </div>
                                </form>
                            
                            </div>

                            <div class ="col-lg-12 invisible d-none" id = "payment-info"> 
                                <div class = "bg-faded row rounded my-4">
                                    <h2 class="section-heading my-3 text-center">
                                        <span class="section-heading-upper">Payment Information</span>
                                    </h2>
                                    <div class="text-center mb-4">
                                    <button id = "make-payment" class="btn btn-primary"> Make payment</button>
                                    </div>
    
    
                                </div>                               
                            </div>


                        </div>

                        <div class="col-lg-6 col-xl-6 my-4">
                            <div class ="bg-faded rounded p-4">
                                <a href="{% url "cart" %}" class="btn btn-outline-primary">Go back to cart</a>
                                
                                <h2 class="section-heading my-3 text-center">
                                    <span class="section-heading-upper">Order Summary</span>
                                </h2>
                                {% for item in items %}
                                <div class = "d-sm-inline-block d-flex">
                                <div class="list-inline ms-0">
                                
                                    <img class="img-fluid rounded list-inline-item w-25 pb-2 pe-4" src="{{item.product.product_imagesURL}}">
                                
                                    <p class="list-inline-item pe-2">{{item.product.product_name}}</p>
                                    <p class="list-inline-item pe-2">{{item.product.product_price|floatformat:2}}</p>
                                    <p class="list-inline-item">x{{item.quantity}}</p>
                                </div>
                            </div>
                                <hr>
                            {% endfor%}
                            <ul class="list-unstyled my-4 text-start mx-auto">
                                <li class="list-unstyled-item d-flex mb-3 fw-bold">
                                    SUBTOTAL
                                    <span class="ms-auto">{{order.get_cart_total|floatformat:2}}</span>
                                </li>

                                <!-- <li class="list-unstyled-item d-flex mb-3">
                                    Delivery (Standard - 2 working days): <br> <a href = "#">Change delivery method-this is a link to profile page </a>
                                    <span class="ms-auto">{delivery cost}</span>
                                </li> -->

                                <!-- <li class="list-unstyled-item d-flex mb-3 fw-bold">
                                    Promo code:
                                    <span class="ms-auto">{gyyfghfg}</span>
                                </li> -->

                                <li class="list-unstyled-item d-flex mb-3 fw-bold">
                                    TOTAL:
                                    <span class="ms-auto"> {{order.get_full_total|floatformat:2}} </span> 
                                </li>
                            
                            </ul>

                            </div>                                                                
                                
                            
                        </div>    
                    
                    </div>

                </div>
            </div>
            
        </section>

        <script type="text/javascript">
            var shipping = '{{order.shipping}}'
            var total = '{{order.get_cart_total}}'

            if(shipping == 'False'){
                document.getElementById('shipping-info').innerHTML=''
            }

            if(user !='AnonymousUser'){
                document.getElementById('user-info').innerHTML=''
            }

            if(shipping=='False' && user != 'AnonymousUser'){
                document.getElementById('wrapper').classList.add('invisible');
                document.getElementById('wrapper').classList.add('d-none');
                document.getElementById('payment-info').classList.remove('invisible');
                document.getElementById('payment-info').classList.remove('d-none');
            }


            var form= document.getElementById('form')
                
            form.addEventListener('submit', function(e){
                e.preventDefault()
                console.log('Form Submitted...')
                document.getElementById('form-button').classList.add('invisible');
                document.getElementById('form-button').classList.add('d-none');
                document.getElementById('payment-info').classList.remove('invisible');
                document.getElementById('payment-info').classList.remove('d-none'); })

            document.getElementById('make-payment').addEventListener('click', function(e){
                submitFormData()
            })    
        
            function submitFormData(){
                console.log('Payment button clicked')
                
                var userFormData = {
                    'fname': null,
                    'lname': null,
                    'email': null,
                    'phonenumber': null,
                    'total': total,
                }

               
                if(user == 'AnonymousUser'){
                    userFormData.fname = form.fname.value
                    userFormData.lname = form.lname.value
                    userFormData.email = form.email.value
                    userFormData.phonenumber= form.phonenumber.value                   
                }

                var url = "/process_order/"
                fetch(url, {
                    method:'POST',
                    headers:{
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken,
                    },
                    body: JSON.stringify({
                        'form': userFormData})
                })
                
                .then((response) => {
                    response.json()
                })
                .then((data) => {
                    console.log('success:', data);
                    alert('Transaction completed');

                    cart = {}
                    document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"

                    window.location.href= "{% url 'home' %}"
                });

            }

            
                

        </script> 
        
        {% endblock %} 
    </body> 
</html>