{% extends 'main/base.html' %}
{%load static %}
<!DOCTYPE html>
<html lang="en">
    <body>
        {% block pagecontent %}
        <section class="page-section cta">
            <div class="container"> 
                <div class = "cta-inner">
                
                    <div class="row">

                    <div class="col-lg-6 col-xl-6 my-4">
                        <div class ="bg-faded rounded p-4">  
                            <form class="row g-3">
                                <div class="col-md-6">
                                <label for="name" class="form-label">Full name</label>
                                <input type="text" class="form-control" id="name">
                                </div>
                                <div class="col-md-6">
                                <label for="email" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="email">
                                </div>
                                <div class="col-12">
                                <label for="inputAddress" class="form-label">Address</label>
                                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                                </div>
                                <div class="col-12">
                                <label for="inputAddress2" class="form-label">Address 2</label>
                                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                                </div>
                                <div class="col-md-6">
                                <label for="inputCity" class="form-label">Country</label>
                                <input type="text" class="form-control" id="inputCity">
                                </div>
                                <div class="col-md-4">
                                <label for="inputcity" class="form-label">City/County</label>
                                <select id="inputcity" class="form-select">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                                </div>
                                <div class="col-md-2">
                                <label for="inputZip" class="form-label">Zip</label>
                                <input type="text" class="form-control" id="inputZip">
                                </div>
                                <div class="col-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck">
                                    <label class="form-check-label" for="gridCheck">
                                    Receive notifications
                                    </label>
                                </div>
                                </div>
                                <div class="col-12">
                                <button type="submit" class="btn btn-primary">Continue</button>
                                </div>
                            </form>
                        </div>
                    </div>


                    <div class="col-lg-6 col-xl-6 my-4">
                        <div class ="bg-faded rounded p-4">
                            <a href="{% url "cart" %}" class="btn btn-outline-primary">Go back to cart</a>
                            
                            <h2 class="section-heading my-3 text-center">
                                <span class="section-heading-upper">Order Summary</span>
                            </h2>
                            
                            <div class = "d-flex">
                            <div class="list-inline">
                               
                                <img class="img-fluid rounded list-inline-item w-25 me-5" src="{% static 'img/image1.jpg' %}">
                               
                                <p class="list-inline-item me-5">Product 1</p>
                                <p class="list-inline-item me-5">$20.00</p>
                                <p class="list-inline-item me-5">x2</p>
                            </div>
                        </div>
                            <h5>Items:   2</h5>
                            <h5>Total:   $4</h5>
                        </div>
                    </div>
                    

                    </div>
                </div>
            </div>
        </section>
        
        {% endblock %}
    </body>
</html>