{% extends 'main/base.html' %}
{%load static %}
<!DOCTYPE html>
<html lang="en">
    
    <body>
        {% block pagecontent %}
        
        <section class="page-section about-heading cta">
            <div class="container"> 
                <div class="about-heading-content">
                    <div class="row">

                        <div class="col-xl-3 col-lg-3 mt-5">
                            <div class="card w-auto">
                                <img class="card-img-top vh-75" src="{% static 'img/image1.jpg' %}" alt="Card image cap">
                                <div class="card-body text-center">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary btn-xl">Go somewhere</a>
                                </div>
                              </div>
                            </div>

                            <div class="col-xl-3 col-lg-3 mt-5">
                                <div class="card w-auto">
                                    <img class="card-img-top vh-75" src="{% static 'img/image1.jpg' %}" alt="Card image cap">
                                    <div class="card-body text-center">
                                      <h5 class="card-title">Card title</h5>
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                      <a href="#" class="btn btn-primary btn-xl">Go somewhere</a>
                                    </div>
                                  </div>
                                </div>

                                <div class="col-xl-3 col-lg-3 mt-5">
                                    <div class="card w-auto">
                                        <img class="card-img-top vh-75" src="{% static 'img/image1.jpg' %}" alt="Card image cap">
                                        <div class="card-body text-center">
                                          <h5 class="card-title">Card title</h5>
                                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                          <a href="#" class="btn btn-primary btn-xl">Go somewhere</a>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="col-xl-3 col-lg-3 mt-5">
                                        <div class="card w-auto">
                                            <img class="card-img-top vh-75" src="{% static 'img/image1.jpg' %}" alt="Card image cap">
                                            <div class="card-body text-center">
                                              <h5 class="card-title">Card title</h5>
                                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                              <a href="#" class="btn btn-primary btn-xl">Go somewhere</a>
                                            </div>
                                          </div>
                                        </div>

                        <!-- STARTING 2 ROW USING CARD-->
                        <div class="col-xl-3 col-lg-3 mt-5">
                        <div class="card w-auto">
                            <img class="card-img-top vh-75" src="{% static 'img/image1.jpg' %}" alt="Card image cap">
                            <div class="card-body text-center">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary btn-xl">Go somewhere</a>
                            </div>
                          </div>
                        </div>


                        <div class="col-xl-3 col-lg-3 mt-5">
                            <div class="card w-auto">
                                <img class="card-img-top vh-75" src="{% static 'img/image1.jpg' %}" alt="Card image cap">
                                <div class="card-body text-center">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary btn-xl">Go somewhere</a>
                                </div>
                              </div>
                            </div>


                            <div class="col-xl-3 col-lg-3 mt-5">
                                <div class="card w-auto">
                                    <img class="card-img-top vh-75" src="{% static 'img/image1.jpg' %}" alt="Card image cap">
                                    <div class="card-body text-center">
                                      <h5 class="card-title">Card title</h5>
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                      <a href="#" class="btn btn-primary btn-xl">Go somewhere</a>
                                    </div>
                                  </div>
                                </div>


                                <div class="col-xl-3 col-lg-3 mt-5">
                                    <div class="card w-auto">
                                        <img class="card-img-top vh-75" src="{% static 'img/image1.jpg' %}" alt="Card image cap">
                                        <div class="card-body text-center">
                                          <h5 class="card-title">Card title</h5>
                                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                          <div class="intro-button mx-auto"><a href="#" class="btn btn-primary btn-xl">Go somewhere</a> </div>
                                        </div>
                                      </div>
                                    </div>



                     </div>
            </div>
        </section>
                 

       {% endblock %}

    </body>
</html>

        