{% extends 'main/base.html' %}
{%load static %}
<!DOCTYPE html>
<html lang="en">
    
    <body>
        {% block pagecontent %}
        
        <section class="page-section about-heading cta">
            <div class="container"> 
                <div class="about-heading-content">
                    <div class="row">
                      {% for product in products %}

                        <div class="col-xl-3 col-lg-3 mt-5">
                            <div class="card w-auto h-100">
                                <img class="card-img-top vh-75" src="{{product.product_image.url}}" alt="Picture of a dress">
                                <div class="card-body">
                                  <h5 class="card-title text-center">{{product.product_name}}</h5>
                                  <a href="{% url "cart" %}" class="btn btn-primary">Add to cart</a>
                                  <a href="{% url "product_view" %}" class="btn btn-primary">view</a>
                                  <p class="d-inline-block ps-4">${{product.product_price|floatformat:2}}</p>
                                </div>
                              </div>
                            </div>

                            
  
  
                       {%endfor %}             
                     </div>
            </div>
        </section>
                 

       {% endblock %}

    </body>
</html>

        