{% extends 'main/base.html' %}
{%load static %}
<!DOCTYPE html>
<html lang="en">
    <body>
        {% block pagecontent %}
        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex ms-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Luxurious Healthy Hair</span>
                                <span class="section-heading-lower">HAIR PRODUCTS</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'img/products-01.jpg' %}" alt="..." />
                    <div class="product-item-description d-flex me-auto text-center">
                        <div class="bg-faded p-5 rounded"><p class="mb-5">We take pride in our work, and it shows. Every time you order a beverage from us, we guarantee that it will be an experience worth having. Whether it's our world famous Venezuelan Cappuccino, a refreshing iced herbal tea, or something as simple as a cup of speciality sourced black coffee, you will be coming back for more.</p>
                        <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="#">View!</a></div>
                    </div>
                    </div>
                
                </div>
            </div>
        </section>
        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex me-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">OPULENCE & ELEGANCE</span>
                                <span class="section-heading-lower">DRESSES</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'img/products-02.jpg' %}" alt="..." />
                    <div class="product-item-description d-flex ms-auto text-center">
                        <div class="bg-faded p-5 rounded"><p class="mb-5">Our seasonal menu features delicious snacks, baked goods, and even full meals perfect for breakfast or lunchtime. We source our ingredients from local, oragnic farms whenever possible, alongside premium vendors for specialty goods.</p>
                        <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="{% url "dresses" %}">View!</a></div>
                    </div>
                  
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex ms-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">TIMELESS LAVISH PIECES </span>
                                <span class="section-heading-lower">Jewelry</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'img/products-03.jpg' %}" alt="..." />
                    <div class="product-item-description d-flex me-auto text-center">
                        <div class="bg-faded p-5 rounded"><p class="mb-5">Travelling the world for the very best quality coffee is something take pride in. When you visit us, you'll always find new blends from around the world, mainly from regions in Central and South America. We sell our blends in smaller to large bulk quantities. Please visit us in person for more details.</p>
                        <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="#">View!</a></div></div>
                    </div>
                </div>
            </div>
        </section>
        {% endblock %}
    </body>
</html>
