{% extends 'main/base.html' %}
{%load static %}
<!DOCTYPE html>
<html lang="en">
    <body>
        {% block pagecontent %}
        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 mx-auto">
                        <div class="cta-inner bg-faded text-center rounded">
                            <h2 class="section-heading mb-5">
                                <span class="section-heading-upper">WELCOME</span>
                                <span class="section-heading-lower">LOGIN</span>
                            </h2>

                            <form  method = 'POST' class = "row g-3" action="/login/">
                    
                                        {% csrf_token %} 
                                        <div class="col-md-12">
                                            <label for="username" class="form-label">Username</label>
                                            <input required type="text" class="form-control" id="username" name="username" autocomplete="username">
                                        </div>
                                        <div class="col-md-12">
                                            <label for="password" class="form-label">Password</label>
                                            <input required type="password" class="form-control" id="password" name="password" autocomplete="current-password">
                                        </div>       

                               <!-- <p> Forgot your password? Don't fret <a href = "{% url "password_reset" %}"> Reset it </a> </p> -->
                                <div class="col-12 text-center mb-3">
                                    <input type="submit" class="btn btn-outline-primary btn-lg1" value="Login">
                                    </div>
                                <p> Don't have an account?<a href = '/register'> Sign up </a> </p>
                            </form>    


                            <p class="address mb-5">
                                <em>
                                    <strong>customersupport@phoenixorganics.co.ke</strong>
                                    <br />
                                    Westlands, Nairobi
                                </em>
                            </p>
                            <p class="mb-0">
                                <small><em>Call Anytime</em></small>
                                <br />
                                +254 742242467
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       
        {% endblock %} 
    </body>
</html>
