{% extends 'main/base.html' %}
{%load static %}
<!DOCTYPE html>
<html lang="en">
    <body>
        {% block pagecontent %}
        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 mx-auto">
                        <div class="cta-inner bg-faded text-center rounded">
                            <h2 class="section-heading mb-5">
                                <span class="section-heading-upper">WELCOME</span>
                                <span class="section-heading-lower">Reset Password</span>
                            </h2>

                            <form  method = 'POST' class = "row g-3">
                    
                                        {% csrf_token %}
                                        
                                        <div class = "intro-button mx-auto">
                                            <button type="submit" name = 'save' class ='btn mt-3 btn-primary btn-xl mb-2' >Reset password</button>
                                        </div>
                                
                            </form>    


                            <p class="address mb-5">
                                <em>
                                    <strong>1116 Orchard Street</strong>
                                    <br />
                                    Golden Valley, Minnesota
                                </em>
                            </p>
                            <p class="mb-0">
                                <small><em>Call Anytime</em></small>
                                <br />
                                (317) 585-8468
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       
        {% endblock %} 
    </body>
</html>
