{% extends 'main/base.html' %}

{%load static %}
<!DOCTYPE html>
<html lang="en">
    <body>
        {% block pagecontent %}
        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 mx-auto">
                        <div class="cta-inner bg-faded text-center rounded">
                            <h2 class="section-heading mb-5">
                                <span class="section-heading-upper">WELCOME</span>
                                <span class="section-heading-lower">Create an account</span>
                            </h2>

                            <form  method = 'POST' class = "row g-3" action ="/register/">
                    
                                        {% csrf_token %}
                                       
                                        <div class="col-md-4">
                                            <p class="text-start"> Name: </p>

                                        </div>
                                        <div class="col-md-3">
                                            <input required type="text" class="form-control" id="fname" name="fname" autocomplete="given-name">
                                            <label for="fname" class="form-label">First name</label>
                                        </div>

                                            <div class="col-md-3">
                                                <input required type="text" class="form-control" id="lname" name="lname" autocomplete="family-name">
                                                <label for="lname" class="form-label">Last name</label>
                                            </div>

                                            <div class="col-md-4">
                                                <p class="text-start"> Username: </p>

                                            </div>

                                            <div class="col-md-6">
                                                <input required type="text" class="form-control" id="username" name="username" autocomplete="username">
                                            </div>

                                            <div class="col-md-4">
                                                <p class="text-start"> Phone number: </p>

                                            </div>
                                            <div class="col-md-6">
                                             
                                                <input required type="text" class="form-control" id="phonenumber" name="phonenumber" autocomplete="tel">
                                            </div>

                                            <div class="col-md-4">
                                                <p class="text-start"> Email address: </p>

                                            </div>
                                            <div class="col-md-6">                                            
                                                <input required type="email" class="form-control" id="email" name="email" autocomplete="email">
                                            </div>

                                    
                                            <div class="col-md-12">
                                                <p class="text-start">Gender: </p>
                                                <ul class="list-unstyled">
                                                <li class="d-block w-30 float-start"><input type="radio" class="option-input" name="gender" id="male" value="male">
                                    
                                                <label for="male" class="form-check-label">Male</label> </li>                                            
                                    
                                                <li class="d-block w-30 float-start"><input type="radio" class="option-input" id="female" value="female" name="gender">
                                                <label for="female" class="form-check-label">Female</label> </li>

                                                <li class="d-block w-30 float-start"><input type="radio" class="option-input" id="other" value="other" name="gender">
                                                    <label for="other" class="form-check-label">Other</label> </li>

                                                </ul>
                                            </div> 

                                            <div class="col-md-4">
                                                <p class="text-start"> Password: </p>

                                            </div>

                                            <div class="col-md-6">
                                                <input required type="password" class="form-control" id="password" name="password" autocomplete="new-password">
                                            </div>

                                            <div class="col-md-4">
                                                <p class="text-start"> Confirm password: </p>

                                            </div>

                                            <div class="col-md-6">
                                                <input required type="password" class="form-control" id="pass2" name="pass2"  autocomplete="current-password">
                                            </div>

                                                                                        
                                            <div class="col-12 text-center my-5">
                                            <input type="submit" class="btn btn-outline-primary btn-lg1" value="Sign up!">
                                            </div>
                                        </form>

                                         

                                    <p> You already have an account?<a href = '/login'> Login </a> </p>
                                
                            </form>    


                            <p class="address mb-5">
                                <em>
                                    <strong>1116 Orchard Street</strong>
                                    <br />
                                    Golden Valley, Minnesota
                                </em>
                            </p>
                            <p class="mb-0">
                                <small><em>Call Anytime</em></small>
                                <br />
                                (317) 585-8468
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       
        {% endblock %} 
    </body>
</html>
